/* 
 * Diseñador: David Adriel Gonzalez Zaccara
 * Fecha: 01/11/2021 
 * Bariloche Rio negro
 */

/*--------------------------------------------------------------
Reseto CSS
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
/*--------------------------------------------------------------
Tipografia
--------------------------------------------------------------*/
body {
	font-family: 'Roboto', Arial, sans-serif;
	line-height: 1.5;
    background: #ecf3f3;
}

/*--------------------------------------------------------------
Estilos General 
--------------------------------------------------------------
 ------------  Header -------------- */
   
    .nav_header {
        background-color: #fff;
        border-bottom: 5px solid #38356e;
    }


/* ------------ Fin Header -------------- */

/* ------------  Index  General-------------- */



/* Hero Estandar */

  

/* Fin Hero Estandar */

  
    
/* ------------ Fin Index  General-------------- 

------------  Estilos footer  -------------- */


/* ------------ Registro-------------- */

   
/* ------------ Fin Registro-------------- */

/* ------------ Sobre Nosotros -------------- */


/* ------------ Fin Sobre Nosotros -------------- */

/* ------------ Contacto -------------- */

/* ------------ Fin Contacto -------------- */

