@import "./var";

.footer {
    color: $Color_se;
    box-shadow: 0px 1px 16px #0a58ca !important;
    margin-top: 0px;
}

.footerCopy {
    color: $Color_se;
    box-shadow: 0px 1px 16px #0a58ca !important;
    margin-top: 0px;
}