@import "./var";

section {
    padding-top: 50px;
    padding-bottom: 50px;
  
  & h1 {
    text-transform: none;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
  }
  & p {
    font-size: 16px;
    font-weight: 300;
  }
}
  button {
    max-width: 50%;
    border-radius: 50px !important;
  }

  #hero{ 

  & .col {
    justify-content: center; 
    flex-direction: column;
    display: flex;
  }
  & .img-col {
    justify-content: flex-end; 
    margin-top: 100px;
  }
  & img {
    max-width: 100%!important;
    width: 100%;
  }
  & .card {
    box-shadow: 15px 20px 16px #0dc6fd;
    border: 0;
    text-align: center;
  }
  & .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}

.titulo_color {
    @include color_s;
}

.parrafo_color {
    color: $Color_t;
}

.mod_box{
    -webkit-box-shadow: 0px 1px 16px #0a58ca !important;
    box-shadow: 0px 1px 16px #0a58ca !important;
}
