@import "./var";

.text_shadow {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
}
.form_sesion {
    background-color: #031f34e8 !important;
    color: #fff;
    box-shadow: 0px 1px 20px 10px #0a58ca !important;

    &-dos {
        background-color: #010028 !important;
        color: #fff;
        box-shadow: 0px 0px 20px #df65ff!important;
    }

}
.text_black {
    color: black;
}
.btn-primary {
    background-color: #031f34 !important;
}
.btn-primary:hover {
    background-color: #0091ff !important;
}

.btn-danger {
    background-color: #010028;
}

.btn-danger:hover {
    background-color: #bb2d3b;
}
