*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
$font: (
    background: #031f34,
    family: ('Roboto', Arial, sans-serif),
    size: 16px,
    line-height: 1.5,
  );
   
 
  body {
    background: map-get($font, background);
    font-family: map-get($font, family);
    font-size: map-get($font, size);
    line-height: map-get($font, line-height);
  }

    
    p {
        margin: 0px;
    }
      