$Color_p: #212f4a;
$Color_s: #f2f2f2;
$Color_t: #ffe7f5;
$Color_c: #f500048c;
$Color_q: #6a9eba;
$Color_se: #0dc6fd;
$Color_sp: #3d6f89;
$Color_o: #f1b300;
$Color_n: #adb9ca;

@mixin color_s{
    color: $Color_s;
}

